body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll; 
  background: #e9ebee;
  //background: black;

}

input, span, i {
	vertical-align: middle;
}

a {
	color: rgb(54, 88, 153);
	text-decoration-color: rgb(54, 88, 153);
}

.globalContainer {	
	position: relative;
	max-width: $display-width;
	min-width: 900px;
	margin-top: $navbar-height;
	height: 300px;
	//background: orange;	
	//padding-top: 12px;
	&>.row {
		padding-top: 12px;
	}
	.sidebar-left {
		width: 180px;
		height: 200px;
		//background: yellow;		
	}

	.main-content {
		width: 500px;
		width: calc(100% - 1012px + 500px);
		height: 1000px;
		//background: yellow;		
		margin-left: 12px;
	}

	.sidebar-right {
		width: 308px;
		height: 200px;
		//background: yellow;
	}

	.sidebar-wrapper {
		display: none;
	}
}

